.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .center-content {
    text-align: center;
  }
  
  .create-auction-title {
    margin-top: 50px; 
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .center-content {
    margin-top: -200px;
  }
  .textarea-spacing {
    margin-bottom: -20px;
    margin-left: 5px;
  }